@import url('https://unpkg.com/leaflet/dist/leaflet.css');

#root {
  width: 100%; 
  margin: 0;
  padding: 0;
  height: 100vh;
  
}

.map-wrapper {
  height: 100vh;
  margin: 0;
}

.map-container {
  height: 100%;
  width: 100%;
}

.suggestions-list {
  position: absolute;
  top: 50px; /* Ajusta la distancia del campo de búsqueda */
  left: 10px; /* Ajusta la distancia del borde izquierdo */
  background-color: white;
  border: 1px solid #ccc;
  width: calc(100% - 20px); /* O ajusta al ancho deseado */
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999; /* Asegúrate de que esté encima del mapa */
  font-size: 14px;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  color: black;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.search-bar {
  position: relative; /* Para que las sugerencias se ubiquen en relación a esta barra */
  z-index: 10; /* Asegura que la barra esté encima del mapa */
}
